




@media screen and (max-width: 980px) {
	#body {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	#body {
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	#body {
		width: 100%;
	}
}



 .header {
	float: left;
	width: 100%;
	height: 90px;
	background-image: url("greyparchment.jpeg");
	font-size: 40px;
	font-family: 'Gloria Hallelujah', cursive;


}

.aside {
	float: left;
	background-image: url("blue.jpeg");
	width: 30%%;
	height:90px;
	margin-left: 150px;

}

.topdiv {
	float: right;
	margin-right: 30px;
}

.main {
	background-image: url("Wood.jpg");
	height: 600px;
	width: 100%;

}



}

.contactmain {
	height: 600px;
	width: 100%;
	background-color: grey;
}

.aboutme {
	background-image: url("parchment4.jpeg");
	position: absolute;
	top: 120px;
	left:100px;
	width: 650px;
	height: 475px;
	border: 2px solid lightblue;
	border-radius: 12px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;


}

.contactme {

    background-image: url("parchment4.jpeg");
	position: absolute;
	top: 120px;
	left:100px;
	width: 650px;
	height: 450px;
	border: 2px solid lightblue;
	border-radius: 12px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;

}
}

.pp {
	font-size: 10px;
	
}


.pic {
	position: relative;
	left: 10px;

}
.sidebar {
	background-image: url("parchment3.jpeg");
	position: absolute;
	top: 120px;
	right: 100px;
	width: 270px;
	height: 225px;
	border: 2px solid lightblue;
	border-radius: 12px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	font-size: 24px;
}

.icons {
	padding-top: 30px;
}

.icon4 {
	padding-top: 50px;
	float: left;
	position: absolute;
	left: 10px;

}

.icon5 {
	position: relative;
	padding-top: 50px;
	right: -237px;
	
}

.icon6 {
	float: left;
	padding-top: 50px;
	position:absolute;
	left:10px;
}

.icon7 {
	float: right;
	padding-top: 50px;
	position: absolute;
	right:10px; 

}

.hi:nth-child(3n) {
  clear: both;
}

.footer {
	text-align: center;
	background-image: url("greyparchment.jpeg");
	font-size: 10px;
	width: 100%;
	height: 100px;
	float: both;
}
 	


